@charset "utf-8";



/* HOME PAGE */
/*body#home {*/
/*    display: grid;*/
/*}*/
body {
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('../images/concrete.png');
    background-blend-mode: overlay; /* Adjust to preference */
    width: 95%;
    box-shadow: dimgray 0 0 10px 5px;
}

header {
    box-shadow: gray 0 5px 5px 0;
}

footer {
    /*box-shadow: black 0 -5px 10px 0;*/
    /*box-shadow: black 0 0 8px 3px;*/
    /*border-top: 3px solid dimgray;*/
    /*background-color: rgba(180, 40, 40, 1);*/

    background-color: rgb(160,160,160);
    color: black;
    background-image: url('../images/gym_floor.webp');
    background-blend-mode: lighten; /* Adjust to preference */
    background-size: 250px 250px;
}


h1 {
    color: firebrick;
    background-color:unset;
}


figcaption {
    color: unset;
    text-align: center;
    background-color: unset;
}


#coach_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 5rem;
    margin:auto;
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

#coach_grid p {
    font-size: 2em;
    outline: 1px solid red;
}

/* MEMBERSHIP PAGE */
main#membership {
    display: grid;
    /*outline: 1px solid red;*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    /*grid-template-rows: repeat(2, minmax(1fr, 300px));*/
    gap: 80px;
    justify-content: center;

    & div {
        margin: unset;
    }
}

/* CLASSES PAGE*/
section#classes {
    & img {
        width:500px;
    }
}

/* LOCATIONS PAGE */
section.float {
    & figure {
        clear: both;
        margin: 20px 0;
        /*margin:auto;*/
        /*height:200px;*/
    }

    & img {
        width: 700px;
        margin: 20px;
    }

    & .location_left {
        float: left;
    }

    & .location_right {
        float: right;
    }

    & figcaption {
        margin: auto;
        width:500px;
        align-content: space-evenly;
        padding-top: 60px;
        color: unset;
    }
}

/* FACILITY */
main#facility {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

    & > figure {
        flex: 0 1 700px;
        /*outline: 1px solid red;*/
    }

    & img {
        width: 100%;
    }
}



/****************************************************************/
/* HEADER MENU > 1200PX */
/****************************************************************/
/*@media (min-width: 1200px) {*/
    body {
        /*position: relative;*/
    }

    header {
        display:grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        background: hsla(50, 90%, 75%, 1);
        /*height: 80px;*/
        /*text-align: right;*/

        & > div {
            color: seagreen;
        }
    }

    /* MENU HOVER EFFECTS*/
    header nav > div:hover {
        background-color: red; /*hsl(0, 70%, 50%);*/
        border-radius: 10px;
        color: black;
        box-shadow: inset 0 3px 10px 0 hsl(0, 70%, 45%), inset 0 -3px 10px 0 hsl(0, 70%, 45%);

        /*TEST-SUBMENU*/
        /*& + .submenu {*/
        /*    display: flex;*/
        /*    flex-flow: column nowrap;*/
        /*    position: absolute;*/
        /*    !*top: 0;*!*/
        /*    left: 5%;*/
        /*    z-index:999;*/
        /*    background-color:white;*/
        /*}*/

        /* SUBMENU HOVER EFFECTS*/
        &.dropdown {
            & div {                                 /*SUBMENU*/
                display: flex;
                flex-flow: column nowrap;
                gap: 10px;
                /*box-shadow: gray 0 0 3px;*/
                box-shadow: gray 0 0 3px , gray 3px 3px 3px 3px;
                border-radius: 10px;
                align-items: center;
                background-image: url('../images/concrete.png');
                background-blend-mode: overlay; /* Adjust to preference */
                background-color: rgba(255,253,250, 0.8);

                /*background: transparent;*/
                /*background-color: hsl(50, 100%, 80%);*/
                /*outline:1px solid firebrick;*/
                /*box-shadow:inset 0 0 5px firebrick;*/
                /*background-color: hsla(50, 90%, 75%, 1);*/
                /*justify-content: center;*/


                & :hover {
                    box-shadow: inset 0 3px 10px 0 hsl(0, 70%, 45%), inset 0 -3px 10px 0 hsl(0, 70%, 45%);
                }

                & a {
                    width: 85%;
                    /*margin: 0 10px;*/
                    padding: 10px;
                    text-align: left;
                    color: firebrick;
                    border-radius: 10px;
                }
            }

            & a:hover {
                background-color: red;
                color: black;
            }
            & > a::after {
                content: "\25BC";
                font-size: 0.7em;
                border: 1px solid transparent;
            }
        }
    }

    /* HEADER SUBMENU */
    header > nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 5px;
        /*background-color: indianred;*/

        & div {
            background-color: inherit;
            outline: unset;
        }
    }






    /* HEADER LOGO */
    header > a {
        margin-right: auto;
        vertical-align: center;
    }

    header img {
        max-width:300px;
        /*margin-right: auto;*/
        /*position:absolute;*/
        /*left:0;*/
    }


    header nav a:first-child {
        /*position: absolute;*/
        /*left: 3%;*/
        /*max-width: 100px;*/
        /*width: 10%;*/
        /*max-width: 500px;*/
        /*margin-right: 10%;*/
        /*flex: 0 1 auto;*/
        /*outline: 1px solid red;*/
    }
/*}*/
/****************************************************************/
/*  END HEADER MENU > 1200PX */
/****************************************************************/
span#mobile_menu {
    display: none;
}

a.location_link {
    background-color:red;
    color: green;
}

nav#scheduleNav {
    float: left;
    border-right: 2px dashed red;
    border-bottom: none;
    background-color: unset;
}

/* CROSS REFERENCES */
section#cross_references {
    /*text-align: justify;*/
    column-count: 3;
    column-gap: 50px;
    column-rule: 2px dashed crimson;
    background-color: unset;
    box-shadow: unset;
    & dd {
        orphans: 3;
        widows: 3;
    }
}





