@charset "utf-8";



/* HOME PAGE */
/*body#home {*/
/*    display: grid;*/
/*}*/

#coach_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 5rem;
    margin:auto;
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

#coach_grid p {
    font-size: 2em;
    outline: 1px solid red;
}

form {
    margin: auto;
    max-width: 600px;
}

/* LOCATIONS */
section#locations {
    & div {
        clear: both;
        /*margin:auto;*/
        /*height:200px;*/
    }

    & img.location_left {
        float: left;
        width: 400px;
    }

    & img.location_right {
        float: right;
        width: 400px;
    }

    & blockquote {
        padding-top: 60px;
    }
}




