@charset "utf-8";



/* HOME PAGE */
/*body#home {*/
/*    display: grid;*/
/*}*/

#coach_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 5rem;
    margin:auto;
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

#coach_grid p {
    font-size: 2em;
    outline: 1px solid red;
}

form {
    margin: auto;
    max-width: 600px;
}




