@charset "utf-8";



/* HOME PAGE */
/*body#home {*/
/*    display: grid;*/
/*}*/
body {
    background: linear-gradient(
            hsla(50, 90%, 75%, 1) 5%,
                /*rgba(255, 255, 255, 0.9) 25%,*/
            /*rgba(255, 255, 255, 0.9) 98%,*/

                hsla(50, 50%, 75%, 0.4) 15%,
            hsla(50, 50%, 75%, 0.4) 99%
            /*rgba(0, 0, 0, 1) 99.99%*/
        /*rgba(255, 255, 255, 0.7)*/
    ), url('../images/concrete.png') ;

    width: 95%;
    box-shadow: darkgray  0 0 10px 5px;
}


#coach_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 5rem;
    margin:auto;
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

#coach_grid p {
    font-size: 2em;
    outline: 1px solid red;
}

form {
    margin: auto;
    max-width: 600px;
}

/* CLASSES PAGE*/
section#classes {
    & img {
        width:500px;
    }
}

/* LOCATIONS PAGE */
section.float {
    & div {
        clear: both;
        margin: 20px 0;
        /*margin:auto;*/
        /*height:200px;*/
    }

    & img {
        width: 400px;
        margin: 20px;
    }

    & .location_left {
        float: left;
    }

    & .location_right {
        float: right;
    }

    & blockquote {
        margin: auto;
        width:600px;
        align-content: space-evenly;
        padding-top: 60px;
    }
}

/* FACILITY */
main#facility {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

    & > div {
        flex: 0 1 800px;
        /*outline: 1px solid red;*/
    }

    & img {
        width: 70%;
    }
}

/* FOOTER */
footer {
    clear:both;
}






