@charset "utf-8";



/* HOME PAGE */
/*body#home {*/
/*    display: grid;*/
/*}*/
body {
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url('../images/concrete.png');
    background-blend-mode: overlay; /* Adjust to preference */

    width: 95%;
    box-shadow: darkgray 0 0 10px 5px;
}

header {
    box-shadow: gray 0 5px 5px 0;
}


#coach_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 5rem;
    margin:auto;
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

#coach_grid p {
    font-size: 2em;
    outline: 1px solid red;
}

form {
    margin: auto;
    max-width: 600px;
}

/* CLASSES PAGE*/
section#classes {
    & img {
        width:500px;
    }
}

/* LOCATIONS PAGE */
section.float {
    & div {
        clear: both;
        margin: 20px 0;
        /*margin:auto;*/
        /*height:200px;*/
    }

    & img {
        width: 400px;
        margin: 20px;
    }

    & .location_left {
        float: left;
    }

    & .location_right {
        float: right;
    }

    & blockquote {
        margin: auto;
        width:600px;
        align-content: space-evenly;
        padding-top: 60px;
    }
}

/* FACILITY */
main#facility {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

    & > div {
        flex: 0 1 800px;
        /*outline: 1px solid red;*/
    }

    & img {
        width: 70%;
    }
}

/* FOOTER */
footer {
    clear:both;
}

/****************************************************************/
/* HEADER MENU > 1200PX */
/****************************************************************/
/*@media (min-width: 1200px) {*/
    body {
        /*position: relative;*/
    }

    header {
        display:grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        background: hsla(50, 90%, 75%, 1);
        /*height: 80px;*/
        /*text-align: right;*/
    }

    /* MENU HOVER EFFECTS*/
    header nav > div:hover {
        background-color: red; /*hsl(0, 70%, 50%);*/
        border-radius: 10px;
        color: black;
        box-shadow: inset 0 3px 10px 0 hsl(0, 70%, 45%), inset 0 -3px 10px 0 hsl(0, 70%, 45%);

        /*TEST-SUBMENU*/
        /*& + .submenu {*/
        /*    display: flex;*/
        /*    flex-flow: column nowrap;*/
        /*    position: absolute;*/
        /*    !*top: 0;*!*/
        /*    left: 5%;*/
        /*    z-index:999;*/
        /*    background-color:white;*/
        /*}*/

        /* SUBMENU HOVER EFFECTS*/
        &.dropdown {
            & div {                                 /*SUBMENU*/
                display: flex;
                flex-flow: column nowrap;
                gap: 10px;

                /*background: transparent;*/
                /*background-color: hsl(50, 100%, 80%);*/
                /*outline:1px solid firebrick;*/
                box-shadow:inset 0 0 5px firebrick;
                border-radius: 10px;
                /*justify-content: center;*/
                align-items: center;

                & a {
                    width: 85%;
                    /*margin: 0 10px;*/
                    padding: 10px;
                    text-align: left;
                    color: firebrick;
                    border-radius: 10px;
                }
            }

            & a:hover {
                background-color: red;
                color: black;
            }
            & > a::after {
                content: "\25BC";
                font-size: 0.7em;
                border: 1px solid transparent;
            }
        }
    }

    /* HEADER SUBMENU */
    header > nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 5px;
        /*background-color: indianred;*/

        & div {
            background-color: inherit;
            outline: unset;
        }
    }






    /* HEADER LOGO */
    header > a {
        margin-right: auto;
        vertical-align: center;
    }

    header img {
        max-width:300px;
        /*margin-right: auto;*/
        /*position:absolute;*/
        /*left:0;*/
    }


    header nav a:first-child {
        /*position: absolute;*/
        /*left: 3%;*/
        /*max-width: 100px;*/
        /*width: 10%;*/
        /*max-width: 500px;*/
        /*margin-right: 10%;*/
        /*flex: 0 1 auto;*/
        /*outline: 1px solid red;*/
    }
/*}*/
/****************************************************************/
/*  END HEADER MENU > 1200PX */
/****************************************************************/
span#mobile_menu {
    display: none;
}

a.location_link {
    background-color:red;
    color: green;
}





