@charset "utf-8";



/* HOME PAGE */
/*body#home {*/
/*    display: grid;*/
/*}*/

#coach_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    gap: 5rem;
    margin:auto;
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

#coach_grid p {
    font-size: 2em;
    outline: 1px solid red;
}

form {
    margin: auto;
    max-width: 600px;
}

/* CLASSES PAGE*/
section#classes {
    & img {
        width:500px;
    }
}

/* LOCATIONS PAGE */
section.float {
    & div {
        clear: both;
        margin: 20px 0;
        /*margin:auto;*/
        /*height:200px;*/
    }

    & img {
        width: 400px;
        margin: 20px;
    }

    & .location_left {
        float: left;
    }

    & .location_right {
        float: right;
    }

    & blockquote {
        margin: auto;
        width:600px;
        align-content: space-evenly;
        padding-top: 60px;
    }
}

/* FACILITY */
main#facility {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;

    & > div {
        flex: 0 1 700px;
        /*outline: 1px solid red;*/
    }
}






