@charset "utf-8";

html {
    /*height: 100%;*/
    /*position: relative;*/
    max-width: 1920px;
    margin: auto;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
), url('../images/gym_floor.webp');
    background-size: 250px 250px;

    & img {
        width: 100%
    }
}

body {

    /*background: linear-gradient(*/
    /*        hsla(50, 90%, 75%, 0.7),*/
    /*        hsla(50, 90%, 75%, 0.7)*/
    /*            !*rgba(255, 255, 255, 1),*!*/
    /*            !*rgba(255, 255, 255, 0.6),*!*/
    /*            !*hsla(50, 90%, 75%, 1) 1%,*!*/

    /*    !*rgba(255, 255, 255, 0.7)*!*/
    /*), url('../images/concrete.png') ;*/
    /*max-width: 1920px;*/
    /*min-height:95%;*/
    margin: auto;

    /*background-color: hsl(50, 100%, 80%); hsl(40, 50%, 50%);*/
}

header {
    /*height: 80px;*/
    /*outline: 1px solid green;*/
    /*align-content: center;*/
    /*margin: 0;*/
    font-size: 1.4em;
    background-color: firebrick;

    /*border-bottom: 1px solid red;*/


    /*background: radial-gradient(ellipse at top,  firebrick 15%, hsl(50, 90%, 75%));*/

}

footer {
    clear:both;
    background-color: rgb(140, 44, 44);
    color: white;
    margin-top: 80px;
    padding: 10px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*box-shadow: gray 0 -10px 10px -8px;*/

}

h1 {
    text-align: center;
    line-height: 3em;
    background-color: cadetblue;
    color: hsl(50, 90%, 75%);
}

figure {
    /*background-color: beige;*/
}

figcaption {
    /*color: hsl(50, 90%, 75%);*/
    background-color: beige;
    border-radius: 15px 5px;
    padding: 10px;
    /*margin: auto;*/
}

form {
    /*gap: 30px;*/
    margin: auto;
    max-width: 600px;
}

fieldset {
    background-color: beige;/*hsl(50, 90%, 75%);*/
    border-radius: 10px;
    border-color: firebrick;
    margin: 30px;
    /*gap: 40px;*/

    & legend {
        background-color: lightsteelblue;
        border-radius: 10px;
        border: 1px dashed firebrick;
    }
}



/* HEADER MENU */
header > nav {
    display: none;
    flex-flow: column nowrap;
    /*outline: 1px solid red;*/
    justify-content: center;
    color: firebrick;
    gap: 15px;
    /*display: none;*/
}

header img {
    width: 100%;
    /*margin: auto;*/
    /*outline: 1px solid red;*/
}

header nav div {
    flex: 0 1 auto;
    /*outline: 1px solid red;*/
    align-content: center;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    background-color: hsl(50, 90%, 75%);
    border-radius: 10px;
    outline: 1px solid red;
    /*background-origin: padding-box;*/
    /*border: 2px solid transparent;*/
    & div {                                         /*SUBMENU*/
        display: none;
        position: absolute;
        top: 100%;
        left: -10px;
        z-index:999;
        background-color:white;
        outline: unset;
    }

    &.dropdown > a::after {
        content: " \25B6";
        font-size: 0.7em;
    }

    & a:link, :visited {
        color: inherit;
        text-decoration: none;
    }

    &.dropdown:has(> div.mobile_submenu_show) > a::after {
        content: " \25BC";
        font-size: 0.7em;
    }
}

.mobile_submenu_show {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    position: static;
    background-color: hsl(50, 90%, 75%);

    & a {
        color: white !important;
        background-color: firebrick;
        border-radius: 10px;
    }
}

#mobile_menu {
    /*height: 80px;*/
}

.mobile_nav_show {
    display: flex;
}

/*.submenu {*/
/*    display: none;*/
/*}*/
/* COACHES */
#coach_grid img{
    width: 200px;
    margin: 10px;
    border: 1px solid green;
    border-radius: 80px;
    float: left;
}

#coach_grid div{
    clear:left;
    font-size: 1.2em;
    text-align: center;
    border:2px dashed green;
    border-radius: 20px;
    background-color: beige;
    & h2 {
        margin: auto;
        color: green;
    }
}

/* LOCATION SELECTOR */
header > div {
    display: flex;
    margin-left: auto;
    text-align:right;
    position: relative;
    padding: 2px;
    color: seagreen;

    & > span {
        order: 0;
        margin-right: auto;
    }

    &::before {
        content: "Your location:";
        order:1;

        /*color: inherit;*/
    }
    & > a {
        order: 2;
    }

    & > div {
        display: none;
        background-color: hsla(50, 90%, 75%, 1);
        /*outline: 1px solid red;*/
         & a {
             /*color: inherit;*/
             padding: 3px;
         }

    }

    & a {
        /*background-color: hsla(50, 90%, 75%, 1);*/
        font-weight: bold;
        color: inherit;
        /*display: inherit;*/
    }
}

.location_submenu_show {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    right:0;
    top: 30px;
}

span#mobile_menu {
}

/* COACHES */
main#coach_grid {
    & div {
        min-height: 350px;
        margin: 20px;
    }
}


/* CONTACT FORM */
form#contact_form, fieldset.contact {
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    /*justify-content: center;*/
    align-content: center;
    /*align-items: center;*/
    /*gap: 20px;*/
}

label {
    /*width: 100%;*/
    /*outline: 1px solid red;*/
}

input, select {
    width: 80%;
    /*outline: 1px solid green;*/
}


/* MEMBERSHIP CARDS */
main#membership {
    display: grid;
    /*outline: 1px solid red;*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    /*grid-template-rows: repeat(2, minmax(1fr, 300px));*/
    gap: 80px;
    justify-content: center;
    /*align-items: center;*/

    & div {
        /*margin: auto;*/
        text-align: justify;
        min-width: 100px;
        max-width: 700px;
        border:2px solid firebrick;
        border-radius: 20px;
        background-color: beige;/*hsl(50, 100%, 80%);*/

        & h2 {
            text-align:center;
        }
    }
}

/* SCHEDULE PAGE */
nav#scheduleNav {
    width: 300px;
    /*display: inline;*/
    border-bottom: 2px dashed red;
    /*float:left;*/
    background-color: hsla(50, 90%, 75%, 1);
    margin: auto;
}

table#schedule {
    border-collapse: separate;
    border-spacing: 2px;
    /*display:inline-table;*/
    background: linear-gradient(135deg, mediumpurple, cadetblue);
    /*outline: 1px solid red;*/
    caption-side: top;
    margin: auto;

    & td {
        /*border: 1px solid red;*/
        width:100px;
        height:100px;
        position: relative;
        background-color: white;

        & i {
            position: absolute;
            bottom:0;
            right:0;
        }
    }

    & td.empty {
        visibility: hidden;
    }

    & th {
        background-color:  lightsteelblue;
    }
}

/* CALCULATORS */
nav#calculators {
    /*display: inline-block;*/
    width: 200px;

    & a {
        outline: 1px solid red;
    }
}

.calculators {
    /*outline: 1px solid red;*/
    /*width: 300px;*/

    & div {
        margin: 20px;
    }

    & input {
        width: 50px;
    }
}

#details {
    & summary, ul {
        list-style:none;
        text-decoration: underline;
        cursor:pointer;
    }
}

/* FACILITY */
main#facility {
    & div {
        outline: 1px solid red;
        background: white;
        border-radius: 5px;
        margin: 20px;
    }

    & img {
        width: 100%
    }
}

/* CLASSES */
section.float {
    figcaption {
        /*background-color: beige;!*hsl(50, 90%, 75%);*!*/
    }
}

/* CROSS REFERENCES */
section#cross_references {
    background-color: beige;
    /*border-top: 2px solid firebrick;*/
    /*border-bottom: 2px solid firebrick;*/
    box-shadow: inset gray 0 8px 5px -5px,
                inset gray 0 -8px 5px -5px;
    padding: 10px;
}













