@charset "utf-8";

html {
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

body {
    /*max-width: 1920px;*/
    /*min-height:95%;*/
    width: 95%;
    margin: auto;
    /*background-color: hsl(50, 100%, 80%); hsl(40, 50%, 50%);*/
}

header {
    /*height: 80px;*/
    /*outline: 1px solid green;*/
    /*align-content: center;*/
    /*margin: 0;*/
    font-size: 1.4em;
    /*background: radial-gradient(ellipse at top,  firebrick 15%, hsl(50, 90%, 75%));*/
}

h1 {
    text-align: center;
    line-height: 3em;
    background-color: firebrick;
    color: hsl(50, 90%, 75%);
}





/* HEADER MENU */
header > nav {
    display: flex;
    flex-flow: column nowrap;
    /*outline: 1px solid red;*/
    justify-content: center;
    color: firebrick;
    gap: 5px;
    /*display: none;*/
}

header img {
    width: 100%;
    /*margin: auto;*/
    /*outline: 1px solid red;*/
}

header nav div {
    flex: 0 1 auto;
    /*outline: 1px solid red;*/
    align-content: center;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    background-color: hsl(50, 90%, 75%);
    /*background-origin: padding-box;*/
    /*border: 2px solid transparent;*/
    & div {                                         /*SUBMENU*/
        display: none;
        position: absolute;
        top: 100%;
        left: -10px;
        z-index:999;
        background-color:white;
    }

    &.dropdown > a::after {
        content: " \25B6";
        font-size: 0.7em;
    }

    & a:link, :visited {
        color: inherit;
        text-decoration: none;
    }

    &.dropdown:has(> div.mobile_submenu_show) > a::after {
        content: " \25BC";
        font-size: 0.7em;
    }
}

.mobile_submenu_show {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    position: static;
    background-color: hsl(50, 90%, 75%);

    & a {
        color: white !important;
        background-color: firebrick;
        border-radius: 10px;
    }
}

/*.submenu {*/
/*    display: none;*/
/*}*/

#coach_grid img{
    width: 200px;
    margin: 10px;
    border: 1px solid green;
    border-radius: 80px;
    float: left;
}

#coach_grid div{
    clear:left;
    font-size: 1.2em;
    text-align: center;
    border:2px dashed green;
    border-radius: 20px;
    & h2 {
        margin: auto;
        color: green;
    }
}

/* LOCATION SELECTOR */
header > div {
    margin-left: auto;
    text-align:right;
    position: relative;
    padding: 2px;

    &::before {
        content: "Your location:";
        color: green;
    }

    & > div {
        display: none;


    }
    /*& a {*/
    /*    display: none;*/
    /*    !*position: absolute;*!*/
    /*}*/

    & a {
        background-color: white;
        /*display: inherit;*/
    }
}

.location_submenu_show {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    right:0;
}


/****************************************************************/
/* HEADER MENU > 1200PX */
/****************************************************************/
@media (min-width: 1200px) {
    body {
        /*position: relative;*/
    }

    header {
        display:grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        /*height: 80px;*/
        /*text-align: right;*/
    }

    /* MENU HOVER EFFECTS*/
    header nav > div:hover {
        background-color: red; /*hsl(0, 70%, 50%);*/
        border-radius: 10px;
        color: black;
        box-shadow: inset 0 3px 10px 0 hsl(0, 70%, 45%), inset 0 -3px 10px 0 hsl(0, 70%, 45%);

        /*TEST-SUBMENU*/
        /*& + .submenu {*/
        /*    display: flex;*/
        /*    flex-flow: column nowrap;*/
        /*    position: absolute;*/
        /*    !*top: 0;*!*/
        /*    left: 5%;*/
        /*    z-index:999;*/
        /*    background-color:white;*/
        /*}*/

        /* SUBMENU HOVER EFFECTS*/
        &.dropdown {
            & div {                                 /*SUBMENU*/
                display: flex;
                flex-flow: column nowrap;
                gap: 10px;

                /*background: transparent;*/
                /*background-color: hsl(50, 100%, 80%);*/
                /*outline:1px solid firebrick;*/
                box-shadow:inset 0 0 5px firebrick;
                border-radius: 10px;
                /*justify-content: center;*/
                align-items: center;

                & a {
                    width: 85%;
                    /*margin: 0 10px;*/
                    padding: 10px;
                    text-align: left;
                    color: firebrick;
                    border-radius: 10px;
                }
            }

            & a:hover {
                background-color: red;
                color: black;
            }
            & > a::after {
                content: "\25BC";
                font-size: 0.7em;
                border: 1px solid transparent;
            }
        }
    }

    /* HEADER SUBMENU */
    header > nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        /*background-color: indianred;*/

        & div {
            background-color: inherit;
        }
    }






    /* HEADER LOGO */
    header > a {
        margin-right: auto;
        vertical-align: center;
    }

    header img {
        max-width:300px;
        /*margin-right: auto;*/
        /*position:absolute;*/
        /*left:0;*/
    }


    header nav a:first-child {
        /*position: absolute;*/
        /*left: 3%;*/
        /*max-width: 100px;*/
        /*width: 10%;*/
        /*max-width: 500px;*/
        /*margin-right: 10%;*/
        /*flex: 0 1 auto;*/
        /*outline: 1px solid red;*/
    }
}

/* CONTACT FORM */
form#contact_form, fieldset.contact {
    display: flex;
    flex-flow: column wrap;
    /*justify-content: center;*/
    align-content: center;
    /*align-items: center;*/
    gap: 20px;
}

label {
    width: 100%;
    /*outline: 1px solid red;*/
}

input, select {
    width: 80%;
    /*outline: 1px solid green;*/
}


/* MEMBERSHIP CARDS */
main#membership {
    display: grid;
    outline: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    /*grid-template-rows: repeat(2, minmax(1fr, 300px));*/
    gap: 80px;
    justify-content: center;
    /*align-items: center;*/

    & div {
        /*margin: auto;*/
        text-align: justify;
        min-width: 100px;
        max-width: 700px;
        border:2px solid red;
        border-radius: 20px;
        background-color: hsl(50, 100%, 80%);

        & h2 {
            text-align:center;
        }
    }
}

/* SCHEDULE PAGE */
nav#scheduleNav {
    width: 300px;
    /*display: inline;*/
    border-right: 2px dashed red;
    float:left;
}

table#schedule {
    margin: 20px;
    border-collapse: separate;
    border-spacing: 2px;
    display:inline-table;
    background: linear-gradient(135deg, red, blue);
    /*outline: 1px solid red;*/
    caption-side: top;

    & td {
        /*border: 1px solid red;*/
        width:100px;
        height:100px;
        position: relative;
        background-color: white;

        & i {
            position: absolute;
            bottom:0;
            right:0;
        }
    }

    & th {
        background-color:  lightsteelblue;
    }
}

/* CALCULATORS */
nav#calculators {
    /*display: inline-block;*/
    width: 200px;

    & a {
        outline: 1px solid red;
    }
}

/*fieldset.calculators {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*}*/

.calculators {
    /*outline: 1px solid red;*/
    /*width: 300px;*/

    & div {
        margin: 20px;
    }

    & input {
        width: 50px;
    }
}

#details {
    & summary, ul {
        list-style:none;
        text-decoration: underline;
        cursor:pointer;
    }
}

/* FACILITY */
main#facility {
    & img {
        width: 100%
    }
}













